ul.nav-links.nav.navbar-nav
   li.dropdown(class="#{ current.source == 'index' || current.source == 'homepage-2' || current.source == 'homepage-3' ? 'active' : '' }")
      a.main-menu(href="javascript:void(0)")
         span.text Home
      ul.menu-dropdown
         li
            a.sub-menu(href="index.html")
               span.text Homepage 01
         li
            a.sub-menu(href="homepage-2.html")
               span.text Homepage 02
         li
            a.sub-menu(href="homepage-3.html")
               span.text Homepage 03
   li(class="#{ current.source == 'about' ? 'active' : '' }")
      a.main-menu(href="javascript:void(0)")
         span.text about
   li(class="#{ current.source == 'Reservation' ? 'active' : '' }")
      a.main-menu(href="reservation.html")
         span.text Reservation
   li.dropdown(class="#{ current.source == 'menu-gird' || current.source == 'menu-gird-2' ? 'active' : '' }")
      a.main-menu(href="javascript:void(0)")
         span.text menu
      ul.menu-dropdown
         li
            a.sub-menu(href="menu-gird.html")
               span.text menu 1
         li
            a.sub-menu(href="menu-gird-2.html")
               span.text menu 2
   li.dropdown(class="#{ current.source == 'blog' || current.source == 'blog-detail' ? 'active' : '' }")
      a.main-menu(href="javascript:void(0)")
         span.text blog
      ul.menu-dropdown
         li
            a.sub-menu(href="blog.html")
               span.text blog
         li
            a.sub-menu(href="blog-detail.html")
               span.text blog detail
          li.dropdown-2
            a.sub-menu(href="blog-detail.html")
               span.text more page
            ul.menu-dropdown-2.right
               li
                  a.sub-menu(href="blog.html")
                     span.text blog sidebar left
               li
                  a.sub-menu(href="blog-detail.html")
                     span.text blog two column
   li.dropdown(class="#{ current.source == 'gallery' ? 'active' : '' }")
      a.main-menu(href="javascript:void(0)")
         span.text pages
      ul.menu-dropdown
         li
            a.sub-menu(href="404.html")
               span.text page 404
   li(class="#{ current.source == 'contact' ? 'active' : '' }")
      a.main-menu(href='contact.html')
         span.text contact
.button-search
      p.main-menu
         i.fa.fa-search
.nav-search.hide
   form
      input.searchbox(type='text' placeholder='Search')
      button.searchbutton.fa.fa-search(type='submit')